.page-footer{
    display: flex;
    height: 380px;
    color: white;
    background: black;
    padding-top: 50px;
}
.page-footer > div{
flex-basis: 100%;
/* border: 1px solid white; */
padding-left: 20px;

}
.page-footer > div img{
    width: 100%;
}
.page-footer > div h2{
    border-style: solid;
    border-color: white;
    /* border-top-width: 5px; */
    width: fit-content;
    padding-bottom: 5px;
    border-width: 0px 0px 3px 0px;
}

.page-footer > div label{
    display: block;
    line-height: 0px;
    position: relative;
    top: -5px;
    left: 12px;
    font-size: 16px;
}
.page-footer > div p{
    font-weight: 100;
}
.page-footer > div:nth-child(4) img{
    width: 50px;
    height: 50px;
    margin: 0px 5px;
}
.page-footer > div:nth-child(4) img:hover{
    box-shadow: 0 0 5px 0 #00d7c3 inset, 0 0 7px 5px #ffffff;
    cursor: pointer;
}
.page-footer > div:nth-child(4) img:nth-child(2),
.page-footer > div:nth-child(4) img:nth-child(4){
    width: 45px;
    height: 45px;
    /* border: 3px solid white; */
}
.page-footer > div p:hover{
    color: red;
    cursor: pointer;

}
@media only screen and (max-width: 800px) {
    .page-footer{
        flex-direction: column;
        height: fit-content;
        padding: 0;
        flex-direction: column-reverse;
        overflow: auto;
        }
        .page-footer > div:nth-child(4) img{
            margin: 0 15px;
        }
    .page-footer > div{
        flex-basis: 0%;
        padding: 0;
        padding-top: 40px;
        text-align: center;
        }
    .page-footer > div h2{
        border: 0px solid;
        width: 100%;
        padding: 0px;
        /* border-width: 0px 0px 3px 0px; */
    }
.page-footer > div:nth-child(1) img{
            width: 80%;
            margin-left: 30px;
    }
    .page-footer > div:nth-child(1){
        /* border: 3px solid red; */
        padding-bottom: 100px;
    }
}

