.main-home-page{
    line-height: 30px;
    max-height: 100vh;
    overflow: auto;

}
.main-home-page .stage-one{
    /* border: 1px solid black ; */
    color: rgb(253, 226, 226);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-home-page .stage-one h1{
    text-shadow: 1px 1px 4px black;
    font-weight: 500;
    font-size: 42px;
    /* color: ; */
}
.main-home-page .stage-one h1 img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    left: 10px;
}

.main-home-page .stage-one h2{
    font-weight:400;
    text-shadow: 1px 1px 2px black;
    font-size: 38px;

}
    .main-home-page .stage-one h3{
        text-shadow: 1px 1px 4px black;
        /* font-size: 42px; */
        color: rgb(255, 255, 255);
        width: 40%;
        text-align: center;
        font-weight: 500;

}
.watch-video{
    width: fit-content;
    padding: 5px 20px;
    display: flex;
    margin-bottom: 140px;
}
.watch-video:hover{
    border-radius: 35% / 100%;
    background: rgba(255, 255, 255, .1);
    cursor: pointer;
}
.traingle-box{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.traingle-box .traingle{
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid white;
    border-bottom: 6px solid transparent;
    }
.watch-video .text{
    position: relative;
    top: 5px;
    left: 15px;
    }

@media only screen and (max-width: 800px) {
    .main-home-page .stage-one{
        justify-content: initial;
        padding-top: 40px;
        height: 80vh;
    }    
    .main-home-page .stage-one h1{
        /* border: 1px solid white; */
        font-size: 34px;
        color: rgb(255, 255, 255);
        width: 80%;
        padding: 0;
        /* margin: 0; */
        text-align: center;
        font-weight: 500;
        line-height: 40px;
    }
    .main-home-page .stage-one h3{
        text-shadow: 1px 1px 4px black;
        color: rgb(255, 255, 255);
        width: 80%;
        text-align: center;
        font-weight: 500;
}
.main-home-page .stage-one h2{
    font-size: 28px;
    font-weight: 100;
}
}
